absl-py==0.9.0
astor==0.8.0
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.1
bleach==1.5.0
blessings==1.7
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
Cython==0.29.14
-e git+https://github.com/Yelp/dataset-examples.git@624534d9851c3c5440f954d3bfada53a36642096#egg=dataset_examples
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
fastFM==0.2.11
gast==0.3.3
google-pasta==0.1.8
googledrivedownloader==0.4
gpustat==0.6.0
grpcio==1.27.2
h5py==2.10.0
html5lib==0.9999999
idna==2.8
imageio==2.8.0
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
jedi==0.16.0
Jinja2==2.11.1
joblib==0.14.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.0.0
jupyter-console==6.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
Keras==1.0.7
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
libmf==0.9.2
lightfm==1.15
linecache2==1.0.0
llvmlite==0.31.0
lxml==4.6.5
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mock==3.0.5
mrjob==0.7.0
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.4
notebook==6.0.3
numba==0.48.0
numpy==1.18.1
nvidia-ml-py3==7.352.0
olefile==0.46
pandas==0.25.3
pandocfilters==1.4.2
parso==0.6.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
plyfile==0.7.2
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==3.11.4
psutil==5.6.7
ptyprocess==0.6.0
pycairo==1.19.0
pyfm==0.0.0
Pygments==2.6.1
pyparsing==2.4.6
pyrsistent==0.15.7
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==18.1.1
qtconsole==4.7.1
QtPy==1.9.0
rdflib==4.2.2
requests==2.22.0
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.9.0
Send2Trash==1.5.0
simplejson==3.17.0
six==1.14.0
soupsieve==1.9.5
statsmodels==0.11.0
tensorboard==1.14.0
tensorboardX==2.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.3
testify==0.11.0
testpath==0.4.4
Theano==0.8.0
torch==1.4.0
torch-cluster==1.5.4
torch-geometric==1.4.3
torch-scatter==2.0.4
torch-sparse==0.6.1
torch-spline-conv==1.2.0
tornado==6.0.4
tqdm==4.38.0
traceback2==1.4.0
traitlets==4.3.3
unittest2==1.1.0
urllib3==1.25.7
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==2.2.0
